@model InvenViewModel 

<h2>Инвентаризация</h2>
<form method="post">
<table class="table">
    

    <tr >
        <th>Наименование товара</th>
        <th>Должно быть на складе</th>
        <th>Количество после ввода данных</th>
        <th>Введите количество в данный момент</th>
        
    </tr>



        <tr bgcolor="@ViewData["Color1"]" >
            <td>Табуретка</td>
            <td>@Model.Onestock</td>
            <td>@Model.One</td>
            <td><input type="number" name="one" /></td>
        </tr>
        <tr bgcolor="@ViewData["Color2"]"><td>Стол</td><td>@Model.Twostock</td><td>@Model.Two</td><td><input type="number" name="two" /></td></tr>
        <tr bgcolor="@ViewData["Color3"]"><td>Стул</td><td>@Model.Threestock</td><td>@Model.Three</td><td><input type="number" name="three" /></td></tr>
        <tr bgcolor="@ViewData["Color4"]"><td>Кровать</td><td>@Model.Fourstock</td><td>@Model.Four</td><td><input type="number" name="four" /></td></tr>
        <tr bgcolor="@ViewData["Color5"]"><td>Шкаф</td><td>@Model.Fivestock</td><td>@Model.Five</td><td><input type="number" name="five" /></td></tr>
 
</table>
<p>

    <input type="submit" value="Отправить" />
</p>
</form>